In [1]:
import pandas as pd

In [3]:
file_path_episodes = "../exploration/Exploration - Fusion_Complète.ipynb"

db01 = pd.read_csv("../gitignore/title.basics.tsv", sep="\t", low_memory=False)
db02 = pd.read_csv("../gitignore/title.ratings.tsv", sep="\t")
db03 = pd.read_csv("../gitignore/title.principals4.tsv", sep="\t")
db04 = pd.read_csv("../gitignore/name.basics.tsv", sep="\t")
db05 = pd.read_csv("../gitignore/title.crew.tsv", sep="\t")

In [4]:
db01_tot = db01.shape[0]
print(f"Total: {db01_tot}")
db01.nunique()

Total: 11248099

tconst            11248099
titleType               11
primaryTitle       5048924
originalTitle      5073560
isAdult                 42
startYear              152
endYear                 98
runtimeMinutes         944
genres                2384
dtype: int64

In [5]:
db02_tot = db02.shape[0]
print(f"Total: {db02_tot}")
db02.nunique()

Total: 1500950

tconst           1500950
averageRating         91
numVotes           22785
dtype: int64

In [6]:
dbmerge_1 = pd.merge(db01, db02, on='tconst', how='inner')

In [9]:
display(dbmerge_1.head())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2101
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.6,282
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance",6.5,2121
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.4,182
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2852

In [14]:
dbmerge_1_tot = dbmerge_1.shape[0]
print(f"Total: {dbmerge_1_tot}")
dbmerge_1.nunique()

Total: 1500950

tconst            1500950
titleType              10
primaryTitle      1111771
originalTitle     1129353
isAdult                 5
startYear             146
endYear                85
runtimeMinutes        704
genres               2074
averageRating          91
numVotes            22785
dtype: int64

In [10]:
db03_tot = db03.shape[0]
print(f"Total: {db03_tot}")
db03.nunique()

Total: 75327831

tconst             10086702
nconst              5751717
category                  6
job                   40970
characters          4148522
plusieurs_roles           2
dtype: int64

In [19]:
dbmerge_2 = pd.merge(db03, dbmerge_1, on='tconst', how='inner')

In [22]:
display(dbmerge_2.head())

,tconst,nconst,category,job,characters,plusieurs_roles,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,nm1588970,self,NaN,['Self'],False,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2101
1,tt0000001,nm0005690,director,NaN,NaN,False,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2101
2,tt0000001,nm0005690,producer,producer,NaN,False,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2101
3,tt0000002,nm0721526,director,NaN,NaN,False,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.6,282
4,tt0000003,nm0721526,director,NaN,NaN,False,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance",6.5,2121

In [20]:
dbmerge_2_tot = dbmerge_2.shape[0]
print(f"Total: {dbmerge_2_tot}")
dbmerge_2.nunique()

Total: 16731742

tconst             1469360
nconst             2367392
category                 6
job                  27515
characters         2426303
plusieurs_roles          2
titleType               10
primaryTitle       1088895
originalTitle      1106346
isAdult                  5
startYear              146
endYear                 84
runtimeMinutes         702
genres                2068
averageRating           91
numVotes             22779
dtype: int64

In [11]:
db04_tot = db04.shape[0]
print(f"Total: {db04_tot}")
db04.nunique()

Total: 13958409

nconst               13958409
primaryName          10719045
birthYear                 544
deathYear                 487
primaryProfession       23082
knownForTitles        5814340
dtype: int64

In [23]:
dbmerge_3 = pd.merge(db04, dbmerge_2, on='nconst', how='inner')

In [24]:
display(dbmerge_3.head())

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tconst,category,job,characters,...,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125",tt0023926,actor,NaN,['Fred Astaire'],...,movie,Dancing Lady,Dancing Lady,0,1933,\N,92,"Comedy,Musical,Romance",6.8,2743
1,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125",tt0024025,actor,NaN,['Fred Ayres'],...,movie,Flying Down to Rio,Flying Down to Rio,0,1933,\N,89,"Comedy,Musical,Romance",6.6,4116
2,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125",tt0025164,actor,NaN,['Guy Holden'],...,movie,The Gay Divorcee,The Gay Divorcee,0,1934,\N,107,"Comedy,Musical,Romance",7.4,8847
3,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125",tt0026942,actor,NaN,['Huck Haines'],...,movie,Roberta,Roberta,0,1935,\N,106,"Comedy,Musical,Romance",7.0,3735
4,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125",tt0027125,actor,NaN,['Jerry Travers'],...,movie,Top Hat,Top Hat,0,1935,\N,101,"Comedy,Musical,Romance",7.7,21053

In [25]:
dbmerge_3_tot = dbmerge_3.shape[0]
print(f"Total: {dbmerge_3_tot}")
dbmerge_3.nunique()

Total: 16731742

nconst               2367392
primaryName          2136496
birthYear                408
deathYear                350
primaryProfession      13161
knownForTitles       1832384
tconst               1469360
category                   6
job                    27515
characters           2426303
plusieurs_roles            2
titleType                 10
primaryTitle         1088895
originalTitle        1106346
isAdult                    5
startYear                146
endYear                   84
runtimeMinutes           702
genres                  2068
averageRating             91
numVotes               22779
dtype: int64

In [12]:
db05_tot = db05.shape[0]
print(f"Total: {db05_tot}")
db05.nunique()

Total: 10582976

tconst       10582976
directors      928981
writers       1381497
dtype: int64